##
## Copyright 2023 Canonical, Ltd.
##
options:
  channel:
    description: |
      Specify MicroK8s version to install. This is the channel that will be passed to the "snap
      install microk8s" command. See also https://microk8s.io/docs/setting-snap-channel

      Examples:
      - ""                  # install latest version
      - "1.27/stable"       # install MicroK8s 1.27 from the stable branch
      - "1.27/edge"         # install MicroK8s 1.27 from the edge branch (getting all latest fixes)
      - "1.27-strict"       # install MicroK8s 1.27 with strict confinement
    default: ""
    type: string
  role:
    description: |
      Role for MicroK8s deployment, one of "", "control-plane" or "worker".

      Set the role to "control-plane" or "" to deploy all units as control plane nodes and form an
      HA control plane.

      Set the role to "worker" to deploy all units as workers. When deploying workers, the units
      will remain in waiting status until they are related to a microk8s control plane.

      The charm role cannot and must not be changed after deployment. Doing so will cause the units
      to go into error state until the change is reverted.
    default: ""
    type: string
