# Testing tools configuration
[tool.coverage.run]
branch = true

[tool.coverage.report]
show_missing = true

# Formatting tools configuration
[tool.black]
line-length = 100
target-version = ["py38"]

[tool.codespell]
skip = "hack,build,lib,venv,icon.svg,.tox,.git,.mypy_cache,.ruff_cache,.coverage,.venv"
